@import "config";

@function colors($color-name) {
  @return map-get($colors, $color-name);
}
@function fonts($font-name) {
  @return map-get($fonts, $font-name);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  //font-family: $font-main;
  font-size: 16px;
}

.lectureheader {
  order: 1;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

.lecture-page {
  .lectureheader {
    display: flex;
    margin-bottom: $gutter;
    flex-wrap: wrap;

    h3 {
      font-family: fonts(roboto), serif;
      text-transform: uppercase;
    }

    h1 {
      font-family: fonts(roboto), serif;
    }

    &__image {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &__noimage {
      width: 100%;
      height: 100%;
      background-color: colors(light-grey);

    }

    &__img {
      width: 100%;
      object-fit: cover;
      height: 300px; // Hæð á haus
      background-size: 100%;
      opacity: 0.6;
      @media (max-width: 750px) {
        height: 125px;
      }
    }

    &__content {
      display: flex;
      margin: -300px auto 0 auto;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 750px) {
        margin: -130px auto 0 auto;
      }
    }
  }

  .lecture {
    width: calc(100% - 40px);

    max-width: calc(1200px - 410px);
    margin: auto;
    font-family: fonts(lora), serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.6;

    p {
      margin: 1.5em 0;
    }

    &__heading {
      margin: 30px 0 10px;

      font-family: fonts(roboto), serif;
    }

    &__quote {
      width: calc(100% + 44px);

      padding: 20px;

      margin: 0 -20px 0 -22px;
      background-color: colors(lighter-grey);

    }

    &__img {
      width: 100%;
      height: 500px;
      background-size: 100%;
    }

    &__code {
      margin: 20px 0;

      font-family: fonts(roboto);

      p {
        height: 30px;

        margin: 0;
        white-space: pre;

      }
    }

    &__buttons {
      display: flex;
      width: 300px;
      margin: auto;
      margin-bottom: 40px;
      text-align: center;
      flex-direction: column;
      justify-content: center;

      &__finished--complete {
        font-weight: bold;
        /* stylelint-disable-next-line */
        color: green;
      }

      button {
        padding: 10px;
        font-family: fonts(roboto);
        background-color: transparent;
        border-style: none;
      }
    }
  }
}

.checkbox {
  width: 15px;
  height: 15px;
}

.checkbox--hidden {
  display: none;
}