@import "config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  //font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}
.lecture-page{
  .header{
    margin-bottom: $gutter;
    &__img{
      background: url("../../img/code.jpg") no-repeat center;
      opacity: 0.6;
      background-size: 100%;
      height: 300px; // Hæð á haus
      @media(max-width: 750px){
        height: 125px;
      }
    }
    
    &__content{
      position: absolute;
      top: 120px;
      left: calc(50% - 80px);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      @media(max-width: 750px){
        top: 30px;
      }
    }
  }
  .lecture {
    width: calc(100% - 240);
    max-width: 790px;
    margin: auto;
    font-family: fonts(lora), serif;
    font-size: 1.2em;
    font-weight: 500; 
    
    p{
      margin: 1.5em 0em; 
    }

    &__heading{
      font-family: fonts(roboto), serif; 
    }

    &__quote p{
      background-color: colors(lighter-grey);
      padding: 40px 10px; 
    }

    &__image {
      background: url("../../img/server.jpg") no-repeat center;
      width: 500px; 
      height: 500px;
      background-size: 100%;
    }

    &__code{
      font-family: fonts(roboto); 
    }
  }
  .button__both{
    //display: flex; 
    justify-content: space-between;
    flex-wrap: wrap; 
    margin: auto; 
    //width: calc(100% - 40px);
    //max-width: 450px;
  }
}
