@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  //font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

// TODO import
.protection {
  background-color: rgba(255,255,255,0.7);
  height: 100%;
  width: 100%;
}
 .header{
   &__img{
    background: url("../../img/header.jpg") no-repeat center;
    opacity: 0.6;
    background-size: 100%;
    height: 200px;
    @media(max-width: 750px){
      height: 125px;
    }
  }

  &__content{
    position: absolute;
    top: 70px;
    left: calc(50% - 80px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media(max-width: 750px){
      top: 30px;
    }
  }
}
.lecture-page{
  .header{
    &__img{
     background: url("../../img/code.jpg") no-repeat center;
     opacity: 0.6;
     background-size: 100%;
     height: 200px;
     @media(max-width: 750px){
       height: 125px;
     }
   }
 
   &__content{
     position: absolute;
     top: 70px;
     left: calc(50% - 80px);
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     @media(max-width: 750px){
       top: 30px;
     }
   }
 }
}